@import url('https://fonts.googleapis.com/css2?family=Acme&family=Exo+2&family=Tilt+Neon&display=swap');
body{
  background-color: #F5F6F8;
  font-family: 'Acme', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Tilt Neon', sans-serif;
}